<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stylish Portfolio - Start Bootstrap Template</title>

  <!-- Bootstrap Core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="../vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="/homepage">homepage</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/allProfessor">all professors</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/newProfessor">add your professor right now</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/searchClass">search by class</a>
      </li>
      </li>
    </ul>
  </nav>

  <header class="masthead d-flex">
    <div class="container text-center my-auto"></div>
    <div class="overlay"></div>
  <h1>Professor's File</h1>
  <ul>{{text}}</ul>
  <ul>Name: {{name}}</ul>
  <ul>Class: {{classcode}}</ul>
  <ul>Rate: {{rate}}</ul>
  <ul>Comment: 
    {{#each comment}}
    <br>{{this}}</br>
    {{/each}}
  </ul>
    <form method = 'POST' action = '' class="form-signin">
    <label for="inputEmail" class="sr-only">rate(0 to 5)</label>
    <input id = 'a' type = Number name = 'rate' class="form-control" placeholder="rate" required>
    <label for="inputEmail" class="sr-only">add comment: </label>
    <input type = text name = 'comment' class="form-control" placeholder="add comment" required>
    <label for="inputEmail" class="sr-only">the class: </label>
    <input type = Number name = 'classcode' class="form-control" placeholder="the class" required>
    <button type = 'submit' class="btn btn-lg btn-primary btn-block">here we go</button>
    </form>

  </header>

  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="../js/stylish-portfolio.min.js"></script>

</body>

</html>


